<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<ul class="nav">
  
    <!-- Routing to about me page when my name is clicked -->
    <li class="logo"
      ><a routerLink="/aboutMe">
        Joshua Bradley
      </a>
    </li>
  

    <!-- Routing to about me page -->
    <a routerLink="/aboutMe">
      <li tabindex="0">
        <nav>
          About Me
        </nav>
      </li>
    </a>

    <!-- Routing to CV page -->
    <a routerLink="/CV">
      <li tabindex="0">
        <nav>
          CV
        </nav>
      </li>
    </a>

    <!-- Routing to projects page -->
    <a routerLink="/myProjects">
      <li tabindex="0">
        <nav>
          My Projects
        </nav>
      </li>
    </a>

    <!-- Routing to contact details page -->
    <a routerLink="/contactDetails">
      <li tabindex="0">
        <nav>
          Contact Details
        </nav>
      </li>
    </a>

  </ul>