<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<ul class="nav">
    
    <!-- Routing to about me page by pressing my name -->
    <a routerLink="/aboutMe">
      <li class="logo">
        <nav>
          Joshua Bradley
        </nav>
      </li>
    </a>

    <!-- Routing to about me page -->
    <a routerLink="/aboutMe">
      <li tabindex="0">
        <nav>
          About Me
        </nav>
      </li>
    </a>

    <!-- Routing to CV page -->
    <a routerLink="/CV">
      <li tabindex="0">
        <nav>
          CV
        </nav>
      </li>
    </a>

    <!-- Routing to projects page -->
    <a routerLink="/myProjects">
      <li tabindex="0">
        <nav>
          My Projects
        </nav>
      </li>
    </a>

    <!-- Routing to contact details page -->
    <a routerLink="/contactDetails">
      <li tabindex="0">
        <nav>
          Contact Details
        </nav>
      </li>
    </a>

  </ul>