<br><br>

<mat-card>

    <div class="column1">

        <br>

        <mat-card-title>
            <h3>
                A Bit About Me
            </h3>
        </mat-card-title>

        <mat-card-content>
            <p>
                Hi, I'm Josh, a final-year computer science student at the University of Dundee.
                I am seeking to start a career focussed on project management in the industry 
                of computer technology, as I have a passion for teamwork and agile methodologies. 
                I am skilled in communication and leadership, having secured employment at international 
                multi-service business NCR, and demonstrable organisational skills through a key role in the Dundee 
                University Computing Society.
            </p>
            <p>
                In my spare time I like to go on hiking trips, run, garden (I keep cacti), and play video games.
            </p>
        </mat-card-content>

        <br>

    </div>

    <div class="column2">
        <img mat-card-image src="../../../assets/mepng.png" alt="Photo of me">
    </div>

</mat-card>