<br><br>

<mat-card>
    <div>
        <div class="column1">
            <br>

            <mat-card-title>
                <h3>
                    Queen Elizabeth Grammar School - Student (2011-2018)
                </h3>
            </mat-card-title>

            <mat-card-content>
                <p>
                    I look back at my secondary school education with great fondness. Here are a few highlights:
                </p>
            </mat-card-content>
        </div>

        <div class="column2">
            <img mat-card-image src="../../../assets/QEGS.jpg" alt="Photo of QEGS">
        </div>
    </div>

    <button type="button" class="collapsible">Learning the Saxophone</button>
    <div class="content">
        <p> 
            While studying at secondary school, I decided to learn how to play the saxophone. After learning the basics, I joined the school
            orchestra and played in concerts organised by our conductor and joining the school's jazz band soon after made me the coolest kid in
            the class - or so I thought!
            <br>
            Fast forward a few years and I had become Grade 5 saxophonist, often riffing with my teacher, who herself had her own jazz band.
            Playing the saxophone has been a fantastic escape for me when I'm stressed, and I would recommend it to anyone!
        </p>
    </div>

    <button type="button" class="collapsible">Hiking, Running, and Video Editing</button>
    <div class="content">
        <p>
            As someone who has lived near the Lake District for most of their lives, I have a natural love of the great outdoors. The men in my
            family have a tradition of hiking up Skidaw with their father from a young age, and so my passion for adventure was born when my
            dad took me on that very trip! After countless more hikes with my family and friends, I have scaled Scafell Pike (England's highest
            mountain) and it is my dream to one day conquer the Three Peaks.
            <br>
            Much like hiking, running allows me to explore nature whilst also keeping fit. I often run across the Tay Road Bridge when in Dundee
            (as there's little chance to take shortcuts) and around my home town of Lockerbie when not at university. Discovering new routes
            and beating my previous times has always been a big motivator, and I have recently been running half marathons. 
            <br>
            There's no better way to document the places I've been than through video, and editing these has been a great joy. Transferring the
            video editing skills that I have developed to my university work and beyond has been incredibly satisfying! 
        </p>
    </div>

    <button type="button" class="collapsible">Duke of Edinburgh</button>
    <div class="content">
        <p>
            Having a love for adventure led me into taking part in the Duke of Edinburgh Gold Award. My favourite part by far was the expedition
            during which I climbed Scafell Pike amongst several other mountains within the Lake District. Unsurprisingly it rained everyday of
            the expedition, but upon reflection, the experience layed the foundation to my stubborn determination. Given the chance, I would
            enrol in DofE again in a heartbeat, and would highly encourage anyone thinking about it!
        </p>
    </div>
    
    <br><br>

</mat-card>


<br><br>


<mat-card>
    <div>
        <div class="column1">
            <br>

            <mat-card-title>
                <h3>
                    Amey - Intern (March 2016)
                </h3>
            </mat-card-title>

            <mat-card-content>
                <p>
                    During my time at Queen Elizabeth Grammar School, I worked as an intern at Amey. It was during this internship that my
                    interest in computing started, through the use of the company's computer-aided design software.
                </p>
            </mat-card-content>
            <br>
        </div>

        <div class="column2">
            <img mat-card-image src="../../../assets/Amey.png" alt="Photo of Amey">
        </div>
    </div>

    <button type="button" class="collapsible">Civil Engineering</button>
    <div class="content">
        <p>Lorem ipsum...</p>
    </div>

    <button type="button" class="collapsible">Computer-Aided Design</button>
    <div class="content">
        <p>Lorem ipsum...</p>
    </div>

    <br><br>

</mat-card>


<br><br>


<mat-card>
    <div>
        <div class="column1">
            <br>

            <mat-card-title>
                <h3>
                    Hallsford Farm - Customer Attendant (April 2017 - September 2018)
                </h3>
            </mat-card-title>

            <mat-card-content>
                <p>
                    Towards the end of my secondary school career, I worked for Hallsford Farm on their farmer's market stall.
                    <a href="https://www.bbc.co.uk/iplayer/episode/m000r04h/the-farmers-country-showdown-series-5-2-hexham">The farm also featured on the BBC, click here to see!</a>
                </p>
            </mat-card-content>
            <br>
        </div>

        <div class="column2">
            <img mat-card-image src="../../../assets/Hallsford.png" alt="Photo of hallsford">
        </div>
    </div>

    <button type="button" class="collapsible">Sales</button>
    <div class="content">
        <p>Lorem ipsum...</p>
    </div>

    <button type="button" class="collapsible">Catering</button>
    <div class="content">
        <p>Lorem ipsum...</p>
    </div>

    <br><br>

</mat-card>


<br><br>


<mat-card>
    <div>
        <div class="column1">
            <br>

            <mat-card-title>
                <h3>
                    The University of Dundee - Student (2018 - 2022)
                </h3>
            </mat-card-title>

            <mat-card-content>
                <p>
                    After having completed my 'A Levels', I joined The University of Dundee to study Computer Science.
                    Here are some of my proudest achievements:
                </p>
            </mat-card-content>
            <br>
        </div>

        <div class="column2">
            <img mat-card-image src="../../../assets/Dundee.jpg" alt="Photo of QMB">
        </div>
    </div>

    <button type="button" class="collapsible">First-Year Website</button>
    <div class="content">
        <p>Lorem ipsum...</p>
    </div>
    
    <button type="button" class="collapsible">Minesweeper</button>
    <div class="content">
        <p>Lorem ipsum...</p>
    </div>
    
    <button type="button" class="collapsible">Dundee University Computing Society (DUCS)</button>
    <div class="content">
        <p>marketing coord</p>
    </div>
    
    <button type="button" class="collapsible">Questionnaire Web Application</button>
    <div class="content">
        <p>started SM/PO</p>
    </div>
    
    <button type="button" class="collapsible">Third-Year Game</button>
    <div class="content">
        <p>(2nd best at awards ceremony, video on uni's YT, playthrough on my YT)</p>
    </div>
    
    <button type="button" class="collapsible">Leadersip Plus Programme</button>
    <div class="content">
        <p>Lorem ipsum...</p>
    </div>
    
    <button type="button" class="collapsible">Honours Project</button>
    <div class="content">
        <p>Lorem ipsum...</p>
    </div>

    <br><br>
</mat-card>


<br><br>


<mat-card>
    <div>
        <div class="column1">
            <br>

            <mat-card-title>
                <h3>
                    NCR - Software Engineer Intern (June 2021 - September 2021)
                </h3>
            </mat-card-title>

            <mat-card-content>
                <p>
                    For 3 months I was a software engineer intern at NCR - it was an amazing experience.
                    During the internship I worked on a Receipt Generator tool for the use of the Professional Services Team.
                    I also got to help facilitate a sprint planning meeting, attend the Unconference and Hackathon, in addition to the Intern Expo.
                </p>
            </mat-card-content>
            <br>
        </div>

        <div class="column2">
            <img mat-card-image src="../../../assets/NCR.png" alt="Photo of NCR">
        </div>
    </div>

    <button type="button" class="collapsible">Receipt Generator</button>
    <div class="content">
        <p>(include video demo)</p>
    </div>

    <button type="button" class="collapsible">The Unconference and Hackathon</button>
    <div class="content">
        <p>link to tesco app, pic of 2nd at unconference</p>
    </div>

    <button type="button" class="collapsible">The Intern Expo</button>
    <div class="content">
        <p>say first and include vid of intern expo Powerpoint</p>
    </div>

    <button type="button" class="collapsible">Agile Ceremonies</button>
    <div class="content">
        <p>I helped facilitate a sprint planning meeting and got to sit in a lot of meetings</p>
    </div>

    <br><br>
</mat-card>


<br><br>