<br><br>

<mat-card>
    <div>
        <div class="column1">
            <br>

            <mat-card-title>
                <h3>
                    Queen Elizabeth Grammar School - Student (2011-2018)
                </h3>
            </mat-card-title>

            <mat-card-content>
                <p>
                    I look back at my secondary school education with great fondness. Here are a few highlights:
                </p>
            </mat-card-content>
        </div>

        <div class="column2">
            <img mat-card-image src="../../../assets/QEGS.jpg" alt="Photo of QEGS">
        </div>
    </div>

    <button type="button" class="collapsible">Learning the Saxophone</button>
    <div class="content">
        <p>Lorem ipsum...</p>
    </div>

    <button type="button" class="collapsible">Duke of Edinburgh</button>
    <div class="content">
        <p>Lorem ipsum...</p>
    </div>

    <button type="button" class="collapsible">Running, Hiking, and Video Editing</button>
    <div class="content">
        <p>Lorem ipsum...</p>
    </div>

    <button type="button" class="collapsible">A Budding Passion for Computing</button>
    <div class="content">
        <p>Lorem ipsum...</p>
    </div>
    
    <br><br>

</mat-card>


<br><br>


<mat-card>
    <div>
        <div class="column1">
            <br>

            <mat-card-title>
                <h3>
                    Amey - Intern (March 2016)
                </h3>
            </mat-card-title>

            <mat-card-content>
                <p>
                    During my time at Queen Elizabeth Grammar School, I worked as an intern at Amey. It was during this internship that my
                    interest in computing started, through the use of the company's computer-aided design software.
                </p>
            </mat-card-content>
            <br>
        </div>

        <div class="column2">
            <img mat-card-image src="../../../assets/Amey.png" alt="Photo of Amey">
        </div>
    </div>

    <button type="button" class="collapsible">Civil Engineering</button>
    <div class="content">
        <p>Lorem ipsum...</p>
    </div>

    <button type="button" class="collapsible">Computer-Aided Design</button>
    <div class="content">
        <p>Lorem ipsum...</p>
    </div>

    <br><br>

</mat-card>


<br><br>


<mat-card>
    <div>
        <div class="column1">
            <br>

            <mat-card-title>
                <h3>
                    Hallsford Farm - Customer Attendant (April 2017 - September 2018)
                </h3>
            </mat-card-title>

            <mat-card-content>
                <p>
                    Towards the end of my secondary school career, I worked for Hallsford Farm on their farmer's market stall.
                    <a href="https://www.bbc.co.uk/iplayer/episode/m000r04h/the-farmers-country-showdown-series-5-2-hexham">The farm also featured on the BBC, click here to see!</a>
                </p>
            </mat-card-content>
            <br>
        </div>

        <div class="column2">
            <img mat-card-image src="../../../assets/Hallsford.png" alt="Photo of hallsford">
        </div>
    </div>

    <button type="button" class="collapsible">Sales</button>
    <div class="content">
        <p>Lorem ipsum...</p>
    </div>

    <button type="button" class="collapsible">Catering</button>
    <div class="content">
        <p>Lorem ipsum...</p>
    </div>

    <br><br>

</mat-card>


<br><br>


<mat-card>
    <div>
        <div class="column1">
            <br>

            <mat-card-title>
                <h3>
                    The University of Dundee - Student (2018 - 2022)
                </h3>
            </mat-card-title>

            <mat-card-content>
                <p>
                    After having completed my 'A Levels', I joined The University of Dundee to study Computer Science.
                    Here are some of my proudest achievements:
                </p>
            </mat-card-content>
            <br>
        </div>

        <div class="column2">
            <img mat-card-image src="../../../assets/Dundee.jpg" alt="Photo of QMB">
        </div>
    </div>

    <button type="button" class="collapsible">First-Year Website</button>
    <div class="content">
        <p>Lorem ipsum...</p>
    </div>
    
    <button type="button" class="collapsible">Minesweeper</button>
    <div class="content">
        <p>Lorem ipsum...</p>
    </div>
    
    <button type="button" class="collapsible">Dundee University Computing Society (DUCS)</button>
    <div class="content">
        <p>marketing coord</p>
    </div>
    
    <button type="button" class="collapsible">Questionnaire Web Application</button>
    <div class="content">
        <p>started SM/PO</p>
    </div>
    
    <button type="button" class="collapsible">Third-Year Game</button>
    <div class="content">
        <p>(2nd best at awards ceremony, video on uni's YT, playthrough on my YT)</p>
    </div>
    
    <button type="button" class="collapsible">Leadersip Plus Programme</button>
    <div class="content">
        <p>Lorem ipsum...</p>
    </div>
    
    <button type="button" class="collapsible">Honours Project</button>
    <div class="content">
        <p>Lorem ipsum...</p>
    </div>

    <br><br>
</mat-card>


<br><br>


<mat-card>
    <div>
        <div class="column1">
            <br>

            <mat-card-title>
                <h3>
                    NCR - Software Engineer Intern (June 2021 - September 2021)
                </h3>
            </mat-card-title>

            <mat-card-content>
                <p>
                    For 3 months I was a software engineer intern at NCR - it was an amazing experience.
                    During the internship I worked on a Receipt Generator tool for the use of the Professional Services Team.
                    I also got to help facilitate a sprint planning meeting, attend the Unconference and Hackathon, in addition to the Intern Expo.
                </p>
            </mat-card-content>
            <br>
        </div>

        <div class="column2">
            <img mat-card-image src="../../../assets/NCR.png" alt="Photo of NCR">
        </div>
    </div>

    <button type="button" class="collapsible">Receipt Generator</button>
    <div class="content">
        <p>(include video demo)</p>
    </div>

    <button type="button" class="collapsible">The Unconference and Hackathon</button>
    <div class="content">
        <p>link to tesco app, pic of 2nd at unconference</p>
    </div>

    <button type="button" class="collapsible">The Intern Expo</button>
    <div class="content">
        <p>say first and include vid of intern expo Powerpoint</p>
    </div>

    <button type="button" class="collapsible">Agile Ceremonies</button>
    <div class="content">
        <p>I helped facilitate a sprint planning meeting and got to sit in a lot of meetings</p>
    </div>

    <br><br>
</mat-card>